@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: "DanaFaNum";
        src: url(./fonts/DanaFaNum-Thin.woff) format("woff"),
        url(./fonts/DanaFaNum-Thin.woff2) format("woff2");
        font-style: normal;
        font-weight: 100;
    }
    @font-face {
        font-family: "DanaFaNum";
        src: url(./fonts/DanaFaNum-Light.woff) format("woff"),
        url(./fonts/DanaFaNum-Light.woff2) format("woff2");
        font-style: normal;
        font-weight: 300;
    }
    @font-face {
        font-family: "DanaFaNum";
        src: url(./fonts/DanaFaNum-Regular.woff) format("woff"),
        url(./fonts/DanaFaNum-Regular.woff2) format("woff2");
        font-style: normal;
        font-weight: 400;
    }
    @font-face {
        font-family: "DanaFaNum";
        src: url(./fonts/DanaFaNum-Medium.woff) format("woff"),
        url(./fonts/DanaFaNum-Medium.woff2) format("woff2");
        font-style: normal;
        font-weight: 500;
    }
    @font-face {
        font-family: "DanaFaNum";
        src: url(./fonts/DanaFaNum-DemiBold.woff) format("woff"),
        url(./fonts/DanaFaNum-DemiBold.woff2) format("woff2");
        font-style: normal;
        font-weight: 600;
    }
    @font-face {
        font-family: "DanaFaNum";
        src: url(./fonts/DanaFaNum-Bold.woff) format("woff"),
        url(./fonts/DanaFaNum-Black.woff2) format("woff2");
        font-style: normal;
        font-weight: 700;
    }
    @font-face {
        font-family: "DanaFaNum";
        src: url(./fonts/DanaFaNum-ExtraBold.woff) format("woff"),
        url(./fonts/DanaFaNum-ExtraBold.woff2) format("woff2");
        font-style: normal;
        font-weight: 800;
    }
    @font-face {
        font-family: "DanaFaNum";
        src: url(./fonts/DanaFaNum-Black.woff) format("woff"),
        url(./fonts/DanaFaNum-Black.woff2) format("woff2");
        font-style: normal;
        font-weight: 900;
    }

    .desktopContainer{
        max-width: 1280px;
        margin-right: auto;
        margin-left: auto;
    }
}
html{
    overflow-x: hidden;
}
body{
    font-family: "DanaFaNum";
    overflow-x: inherit;
}